In [1]:
import pandas as pd

bigtab = pd.read_csv("ABS_Series_MasterIndex.csv")
bigtab.head()

,Unnamed: 0.1,Unnamed: 0,Data Item Description,Series Type,Series ID,Series Start,Series End,No. Obs.,Unit,Data Type,Freq.,Collection Month,Catalogue,Table
0,0,10,"Value of data item ; Liabilities, Asset-backe...",Original,A2149467C,1988-12-01,2023-12-01,141,$ Millions,STOCK,Quarter,3,5232.0.55.001 Assets and Liabilities of Austra...,"TABLE 2. SECURITISERS, TOTAL LIABILITIES at th..."
1,1,11,"Value of data item ; Liabilities, Short term ...",Original,A2149469J,1988-12-01,2023-12-01,141,$ Millions,STOCK,Quarter,3,5232.0.55.001 Assets and Liabilities of Austra...,"TABLE 2. SECURITISERS, TOTAL LIABILITIES at th..."
2,2,12,"Value of data item ; Liabilities, Long term a...",Original,A2149468F,1988-12-01,2023-12-01,141,$ Millions,STOCK,Quarter,3,5232.0.55.001 Assets and Liabilities of Austra...,"TABLE 2. SECURITISERS, TOTAL LIABILITIES at th..."
3,3,13,"Value of data item ; Liabilities, Loans and p...",Original,A2149470T,1988-12-01,2023-12-01,141,$ Millions,STOCK,Quarter,3,5232.0.55.001 Assets and Liabilities of Austra...,"TABLE 2. SECURITISERS, TOTAL LIABILITIES at th..."
4,4,14,"Value of data item ; Other liabilities, resid...",Original,A2149472W,1988-12-01,2023-12-01,141,$ Millions,STOCK,Quarter,3,5232.0.55.001 Assets and Liabilities of Austra...,"TABLE 2. SECURITISERS, TOTAL LIABILITIES at th..."

In [5]:
tables = bigtab.sort_values("Table")
tables.head(50)
tablenames = tables["Table"].unique()   
tablenames
tablelines = tables.drop_duplicates("Table", keep='first')

In [7]:
print(len(tables), len(tablenames), len(tablelines))
print(tablelines.columns)

100787 921 921
Index(['Unnamed: 0.1', 'Unnamed: 0', 'Data Item Description', 'Series Type',
       'Series ID', 'Series Start', 'Series End', 'No. Obs.', 'Unit',
       'Data Type', 'Freq.', 'Collection Month', 'Catalogue', 'Table'],
      dtype='object')

In [10]:
outtab = tablelines.copy()[['Table', 'Catalogue',  'Data Item Description', 'Series Type',
       'Series ID', 'Freq.', 'Series Start', 'Series End', 'No. Obs.', 'Unit',
       'Data Type', 'Collection Month']]
outtab

,Table,Catalogue,Data Item Description,Series Type,Series ID,Freq.,Series Start,Series End,No. Obs.,Unit,Data Type,Collection Month
100348,All WPI Series: Original (Financial Year Index...,"6345.0 Wage Price Index, Australia",Financial Year Index ; Ordinary time hourly r...,Original,A2712642A,Annual,1998-06-01,2023-06-01,26,Index Numbers,INDEX,6
100442,All WPI Series: Original (Quarterly Index Numb...,"6345.0 Wage Price Index, Australia",Quarterly Index ; Total hourly rates of pay e...,Original,A2599999R,Quarter,1997-09-01,2023-12-01,106,Index Numbers,INDEX,3
497,"Key data by industry division, Total selected ...",8155.0 Australian Industry,"Employment at end of June ; Transport, postal...",Original,A130084131V,Annual,2007-06-01,2022-06-01,16,000,STOCK,6
1362,"Key data by industry subdivision, Accommodatio...",8155.0 Australian Industry,Wages and salaries (including capitalised wage...,Original,A130122266W,Annual,2008-06-01,2022-06-01,15,$ Millions,FLOW,6
1046,"Key data by industry subdivision, Administrati...",8155.0 Australian Industry,Wages and salaries (including capitalised wage...,Original,A130125680J,Annual,2008-06-01,2022-06-01,15,$ Millions,FLOW,6
...,...,...,...,...,...,...,...,...,...,...,...,...
54414,Tables 10 and 11. Export Price Index by Balanc...,"6457.0 International Trade Price Indexes, Aust...",Index Numbers ; Other rural ;,Original,A2295702X,Quarter,1989-09-01,2023-12-01,138,Index Numbers,INDEX,3
54321,Tables 14 and 15. Import Price Index by Select...,"6457.0 International Trade Price Indexes, Aust...",Index Numbers ; 22 Fabricated metal product m...,Original,A3343562J,Quarter,1983-06-01,2023-12-01,163,Index Numbers,INDEX,3
54570,"Tables 4, 5 and 6. Import Price Index by Balan...","6457.0 International Trade Price Indexes, Aust...",Index Numbers ; Civil aircraft ;,Original,A2298108L,Quarter,1991-06-01,2023-12-01,131,Index Numbers,INDEX,3
54525,"Tables 7 and 9. Export Price Index by SITC, In...","6457.0 International Trade Price Indexes, Aust...",Index Numbers ; 28 Metalliferous ores and met...,Original,A2295594A,Quarter,1974-09-01,2023-12-01,198,Index Numbers,INDEX,3
51563,Time Series,"8165.0 Counts of Australian Businesses, includ...",Total businesses operating ;,Seasonally Adjusted,A124919343C,Quarter,2013-02-01,2023-12-01,44,Number,STOCK_CLOSE,2

In [19]:
outtab.to_csv('/Users/jamesbishop/Documents/Python/Bootleg_Macro/MacroBackend/ABS_backend/ABS_TABLES_MasterIndex.csv')

In [15]:
serHD = pd.HDFStore(path = '/Users/jamesbishop/Documents/Python/Bootleg_Macro/User_Data/ABS/ABS_Series_Index.h5s', mode='r')
serHD.keys()
for key in serHD.keys():
    key = key.replace("/", "")
    print(key)
serHD.keys()

data

['/data']